.areas {
    margin-bottom: 160px;
}
.areas__title {
    h2 {
        font-family: $fftitle;
        font-size: 44px;
        line-height: 53px;
        color: $basic;
        margin-bottom: 25px;
    }
    p {
        font-family: $fftext;
        font-size: 24px;
        line-height: 42px;
        color: $basic;
        max-width: 605px;
        margin-bottom: 51px;
    }
}

.areas__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    .areas__item {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border: 1px solid #e4ecf0;
        box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
        border-radius: 2px;
        padding: 41px 33px;
        font-family: $fftext;
        color: $basic;
        .areas__content {
            img {
                margin-bottom: 40px;
            }
            h3 {
                font-size: 22px;
                line-height: 33px;
                margin-bottom: 12px;
            }
            p {
                font-size: 20px;
                line-height: 35px;
                padding-bottom: 36px;
            }
        }
        .areas__link {
            margin-top: auto;
            display: inline-flex;
            align-items: center;
            a {
                text-decoration: none;
                color: $basic;
                font-family: $fftext;
                font-size: 19px;
                line-height: 35px;
                img {
                    margin-left: 9px;
                }
            }
        }
    }
}
